<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.outsystems.plugins.debugger"
        version="0.0.1">
        
    <name>OS Debugger</name>
    <description>OutSystems Debugger for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova,outsystems</keywords>
  
    <engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>
  
    <hook type="before_plugin_install" src="hooks/beforePluginInstall.js" />
    
</plugin>
